<main>
  <p id="information">   Truck drivers do not always have an easy job to do. They have to fight traffic, weather, deal with customers, and sometimes deal with products. One of the worst things as a truck driver is going to a new stop and not know exactly how to make a delivery. Where to park? Any potential hazards that might be on site?
<br>   This site is designed for truck drivers to communicate with each other about stops.
To post stops and to inform other drivers about potential safety hazards at a stop, like how tight it might me to maneuver in larger trailers or how extra caution will need to be taken when making the delivery due to low ceilings.
This site is also to be used to post any special delivery instructions a site may have. For example, if a stop has a delivery entrance that’s different than the main entrance or where to park for a stop.
<br>   If you look for a stop and it is not there, please submit a new stop form to add it to the database.
<br>Thank You</p>
</main>
