<!-- <main onload="initialize()">
    <div id="locationField">
      <input id="autocomplete" placeholder="Enter your address"
             onFocus="geolocate()" type="text"></input>
    </div>

    <table id="address">
      <tr>
        <td class="label">Street address</td>
        <td class="slimField"><input class="field" id="street_number"
              disabled="true"></input></td>
        <td class="wideField" colspan="2"><input class="field" id="route"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">City</td>
        <td class="wideField" colspan="3"><input class="field" id="locality"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">State</td>
        <td class="slimField"><input class="field"
              id="administrative_area_level_1" disabled="true"></input></td>
        <td class="label">Zip code</td>
        <td class="wideField"><input class="field" id="postal_code"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">Country</td>
        <td class="wideField" colspan="3"><input class="field"
              id="country" disabled="true"></input></td>
      </tr>
    </table>
  </main>

  <script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

var placeSearch, autocomplete;
var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

function initialize() {
  // Create the autocomplete object, restricting the search
  // to geographical location types.
  autocomplete = new google.maps.places.Autocomplete(
      /** @type {HTMLInputElement} */(document.getElementById('autocomplete')),
      { types: ['geocode'] });
  // When the user selects an address from the dropdown,
  // populate the address fields in the form.
  google.maps.event.addListener(autocomplete, 'place_changed', function() {
    fillInAddress();
  });
}

// [START region_fillform]
function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }

  // Get each component of the address from the place details
  // and fill the corresponding field on the form.
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    if (componentForm[addressType]) {
      var val = place.address_components[i][componentForm[addressType]];
      document.getElementById(addressType).value = val;
    }
  }
}
// [END region_fillform]

// [START region_geolocation]
// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = new google.maps.LatLng(
          position.coords.latitude, position.coords.longitude);
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: position.coords.accuracy
      });
      autocomplete.setBounds(circle.getBounds());
    });
  }
}
// [END region_geolocation]

    </script> -->
<form class="form-horizontal" ng-submit="list.submit()">
  <div class="address">
    <div class="form-group">
      <label class="col-xs-3" for="stop">Stop</label>
      <input class="col-xs-9" ng-model="list.newStop" name="stop" type="text" id="stop" placeholder="Enter name of stop" required>
    </div>
    <div class="form-group">
      <label class="col-xs-3" for="street_address">Street Address</label>
      <input class="col-xs-9" ng-model="list.streetAddress" name="street_address" type="text" id="street_address" required>
    </div>
    <div class="form-group">
      <label class="col-xs-3" for="city">City</label>
      <input class="col-xs-9" ng-model="list.city" name="city" type="text" id="city" required>
    </div>
    <div class="form-group">
      <label class="col-xs-3" for="state">State</label>
      <input class="col-xs-9" ng-model="list.state" name="state" type="text" id="state" required>
    </div>
    <div class="form-group">
      <label class="col-xs-3" for="zip_code">Zip Code</label>
      <input class="col-xs-9" ng-model="list.zipCode" name="zip_code" type="text" id="zip_code" required>
    </div>
  </div>
  <!-- .address -->
  <div class="select-questions">
    <label for="camera">Are there any security camera's on site?</label>
    <select class="form-control" ng-model="list.camera" id="camera" name="camera">
      <option>yes</option>
      <option>no</option>
    </select>
    <label for="guard">Do you have to go through a guard shack or security gate?</label>
    <select class="form-control" ng-model="list.guard" id="guard" name="guard">
      <option>yes</option>
      <option>no</option>
    </select>
    <label for="security">Is there a security guard or police officer on site?</label>
    <select class="form-control" ng-model="list.security" id="security" name="security">
      <option>yes</option>
      <option>no</option>
    </select>
    <br>
    <label for="light">Is the stop well lit?</label>
    <select class="form-control" ng-model="list.light" id="light" name="light">
      <option>yes</option>
      <option>no</option>
    </select>
    <br>
    <label for="parking">Is there overnight parking available?</label>
    <select class="form-control" ng-model="list.parking" id="parking" name="parking">
      <option>yes</option>
      <option>no</option>
    </select>
    <br>
    <label for="hazards">Are there any hazards to be aware of whether they are driving related, like low hanging branches, or actual delivery, a stop might have extremely slippery floors? Please explain.</label>
    <textarea ng-model="list.hazards" style="width:100%" id="hazards" name="hazards"></textarea>
  </div>
  <!-- .select-questions -->
  <div class="delivery">
    <label for="delivery_instructions">Is there unique delivery instructions for this stop whether it is a delivery time window or a not so obvious way to make the delivery like a service entrance is on a different block then the normal entrance.</label>
    <textarea ng-model="list.deliveryInstructions" style="width:100%" id="delivery_instructions" name="delivery_instructions"></textarea>
  </div>
  <!-- .delivery -->
  <div class="info">
    <label for="info">If there's any additional information that hasn't been mentioned please put it here.</label>
    <textarea ng-model="list.info" style="width:100%" id="info" name="info"></textarea>
  </div>
  <!-- .info -->
  <input type="submit" id="submit" value="Submit" class="pull-right" />
</form>
